page-contact {

	.item-md .item-button[icon-only] ion-icon, .item-md .item-button[icon-only] {
	    background-color: transparent;
	    padding: 0 1px;
	    color: #fff;
	    box-shadow: none;
	}

	.item-md ion-reorder {
	    font-size: 1.5em;
	    color: #fff !important;
	    opacity: 1;
	}

}

