<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Configurar rutina
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 <ion-list>

    <ion-item>
      <ion-label>Tipo ejercicio:</ion-label>
      <ion-select [(ngModel)]="model.tipo" (ngModelChange)="seleccionatipo($event)">
        <ion-option *ngFor="let te of TipoEjercicio" value="{{te.tipo}}">{{te.tipo}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Maquina:</ion-label>
      <ion-select [(ngModel)]="model.numero">
        <ion-option *ngFor="let ej of Ejercicio" value="{{ej.numero}}">{{ej.numero}}:{{ej.nombre}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Asiento:</ion-label>
      <ion-input [(ngModel)]="model.asiento" value="{{asiento}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apoyo:</ion-label>
      <ion-input [(ngModel)]="model.apoyo" value="{{apoyo}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Series:</ion-label>
      <ion-input [(ngModel)]="model.serie" value="{{serie}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Repeticiones:</ion-label>
      <ion-input [(ngModel)]="model.repeticion" value="{{repeticion}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Carga(KG):</ion-label>
      <ion-input [(ngModel)]="model.carga" value="{{carga}}"></ion-input>
    </ion-item>

    <ion-item>
      <button type="button" (click)="agregar()" [disabled]='btnGuardar' ion-button full>Agregar</button>
    </ion-item>

    <hr>

    <ion-item-group [reorder]="true" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let ejer of rutina; let i = index">
        <h2>{{ i+1 }} : {{ ejer.tipo | nombreEjercicio: ejer.tipo : ejer.maquina  }}</h2>
        <p>{{ ejer.serie }} Series • {{ ejer.repeticion }} repeticiones</p>
        <button ion-button icon-only item-end (click)="eliminar(i)">
  			<ion-icon name="trash"></ion-icon>
		</button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
