// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-input{
    text-align: right !important;
}

.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #4a4a4a !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #4a4a4a;
    box-shadow: inset 0 -1px 0 0 #4a4a4a;
}

.list .item-block .item-inner {
    border-bottom: 1px solid #4a4a4a;
}

.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #4a4a4a;
    /* -webkit-box-shadow: inset 0 -1px 0 0 #32db64; */
    box-shadow: initial;
}

.tabs .tabbar {
    background: #1a1a1a;
    color: #fff;
}

.tabs .tab-button[aria-selected=true] {
    color: #fff;
    padding: 0;
}

.tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: #fff;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.tabs .tab-button {
    min-height: 5.6rem;
    font-weight: normal;
    color: #fff;
    padding: 0;
}

.tabs .tab-button-icon {
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: #fff;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
}

.toolbar-background {
    border-color: #000;
    background: #000;
}

.toolbar-title {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.item {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #fff;
    background-color: #221d1e;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    background-color: #fbb813;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
}

.button:hover:not(.disable-hover) {
    background-color: #fbb813;
}

.content {
    color: #fff;
    background-color: #221d1e;
}

.item-input .label, .item-select .label, .item-datetime .label {
    color: #fff;
}

.item.item-input.item-input-has-focus .item-inner,
.item.item-input.input-has-focus .item-inner {
  border-bottom-color: #fbb813;
  -webkit-box-shadow: inset 0 -1px 0 0 #fbb813;
  box-shadow: inset 0 -1px 0 0 #fbb813;
}

.list .item-input.item-input-has-focus:last-child,
.list .item-input.input-has-focus:last-child {
  border-bottom-color: #fbb813;
  -webkit-box-shadow: inset 0 -1px 0 0 #fbb813;
  box-shadow: inset 0 -1px 0 0 #fbb813;
}

.bar-button-default, .bar-button-clear-default, .bar-button-default {
    color: #fff;
    background-color: transparent;
}

.bar-button-default:hover:not(.disable-hover), .bar-button-clear-default:hover:not(.disable-hover), .bar-button-default:hover:not(.disable-hover) {
    color: #fbb813;
}

.alert-radio-group, .alert .alert-checkbox-group {
    background-color: #221d1e !important;
    color: #fff !important;
}

.alert [aria-checked=true] .alert-radio-label {
    color: #fbb813;
}

.alert-radio-label {
    color: #fff !important;
}

.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: #fbb813 !important;
}

.alert-ios [aria-checked=true] .alert-radio-icon {
    border-color: #fbb813 !important;
}

.alert-radio-inner {
    background-color: #fbb813 !important;
    border-color: transparent !important;
}

.alert-head {
    background-color: #000;
    color: #fff;
}

.alert-button-group {
    background-color: #000;
}

.alert-button {
    color: #fff !important;
}

.alert-radio-group, .alert-checkbox-group {
    border-top: none !important;
    border-bottom: none !important;
}

.list-ios > .item-block:first-child {
    border-top: 0px;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
}

.alert-ios .alert-message:empty {
    padding: 0 !important;
}

.alert-ios .alert-button {

    border-top: 0px !important;
    border-right: 0px !important; 
}

.list-header-ios {
    border-bottom: 0px !important;
}

.list-header-md {
    border-top: 0px !important;
}