<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configurar rutina</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label>Tipo ejercicio:</ion-label>
      <ion-select [(ngModel)]="model.tipo" (ngModelChange)="seleccionatipo($event)">
        <ion-option *ngFor="let te of TipoEjercicio" value="{{te.id}}">{{te.tipo}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Maquina:</ion-label>
      <ion-select [(ngModel)]="model.numero" (ngModelChange)="seleccionaejercicio($event)">
        <ion-option *ngFor="let ej of Ejercicio" value="{{ej.numero}}">{{ej.numero}}:{{ej.nombre}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Asiento:</ion-label>
      <ion-input [(ngModel)]="model.asiento" value="{{asiento}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apoyo:</ion-label>
      <ion-input [(ngModel)]="model.apoyo" value="{{apoyo}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Series:</ion-label>
      <ion-input [(ngModel)]="model.serie" value="{{serie}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Repeticiones:</ion-label>
      <ion-input [(ngModel)]="model.repeticion" value="{{repeticion}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Carga(KG):</ion-label>
      <ion-input [(ngModel)]="model.carga" value="{{carga}}"></ion-input>
    </ion-item>

    <ion-item>
      <button type="button" (click)="agregar()" [disabled]='btnGuardar' ion-button full>Agregar</button>
    </ion-item>

    <ion-item>
      <button type="button" (click)="addMessage()" [disabled]='btnGuardar' ion-button full>Ver Rutina completa</button>
    </ion-item>

    <ion-item>
      <button type="button" (click)="guardarutina()" [disabled]='btnGuardar' ion-button full>Guardar Rutina</button>
    </ion-item>

  </ion-list>

</ion-content>
